.logged-in-status {
    position: absolute;
    top: 8px;
    right: 5px;
    font-size: 18px;
}

.gridC {
    display: grid;
    /* border: 1px solid black; */
    grid-template-columns: repeat(2, 1fr);
}


.flexC {
    flex-direction: column;
    display: flex;
    align-items: center;
}

.flexI {
    margin: 20px;
    padding: 20px;
    border-radius: 10px;
    width: 400px;
    height: 100px;
}

.button {
  background-color: crimson;
  border-radius: 10px;
  border: none;
  color: white;
  padding: 10px 30px;
  text-align: center;
  font-size: 40px;
  margin: 4px 2px;
  cursor: pointer;
}