.gridC {
    display: grid;
    /* border: 1px solid black; */ 
    grid-template-columns: repeat(2, 1fr);
}

#gridI {
    /* border: 2px solid black; */ 
}

.flexC {
    flex-direction: column;
    display: flex;
    align-items: center;
}

.flexI {
    margin: 20px;
    padding: 20px;
    border-radius: 10px;
    width: 400px;
    height: 100px;
}
